{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h3>Submit Complaint</h3>
    <form method="post">
        {% csrf_token %}
        <label>Inspector</label>
        <select class="form-control mb-2" name="inspector" title="Select an inspector">
            {% for i in inspectors %}
            <option value="{{ i.id }}">{{ i.name }}</option>
            {% endfor %}
        </select>
        <textarea class="form-control mb-2" name="message" placeholder="Write your complaint here"></textarea>
        <button type="submit" class="btn btn-danger-gradient w-100">Submit Complaint</button>
    </form>
</div>
{% endblock %}